body
{ 
	font-family : Helvetica,Arial;
	color : #000000;
	background : #FFFFFF;
	margin : 0em;
}

a
{
	color : #000000;
}

a:hover
{
	text-decoration : underline;
	color : #FFFFFF;
	background : #006699;
}

a.navbar_arrow 
{ 
	text-decoration : none;
}

a.menu_section
{
	color : #FFFFFF;
	background : #878787;
	font-weight : bold;
	text-decoration : none;
}

a.menu_section:hover 
{ 
	text-decoration : underline; 
}

a.menu_section_sel
{
	color : #878787;
	background : #FFFFFF;
	font-weight : bold;
	text-decoration : none;
}

a.menu_section_sel:hover
{
	background : 
	text-decoration : underline;
}

a.box_header
{
	color : #006699;
	font-weight : bold;
	text-decoration : none;
}

a.box_header:hover
{
	color : #FFFFFF;
}

a.menu_entry
{
	color : #FFFFFF;
	background : #6699CC;
	text-decoration : none;
}

a.menu_entry:hover
{
	text-decoration : underline;
}

div.changelog
{
	background : #CCCCCC;
	padding : 10pt;
}

td.middle
{
	vertical-align : middle;
}

td.site_menu
{
	background : #6699CC;
}

td.menu_section
{
	padding-left : 5pt;
	padding-right : 5pt;
	padding-top : 2pt;
	padding-bottom : 2pt;
	background : #878787;
	white-space : nowrap;
}

td.menu_section_sel
{
	padding-left : 5pt;
	padding-right : 5pt;
	padding-top : 2pt;
	padding-bottom : 2pt;
	background : #FFFFFF;
	white-space : nowrap;
}

td.menu_section_black
{
	padding-left : 5pt;
	padding-right : 5pt;
	padding-top : 2pt;
	padding-bottom : 2pt;
	background : #000000;
	color : #FFFFFF;
	font-weight : bold;
}

td.menu_entry
{
	padding : 1pt;
	white-space : nowrap;
}

td.box_header
{
	color : #006699;
	font-weight : bold;
	text-decoration : none;
}

tr.site_header
{
	background : #006699;
}

tr.box_header_hr
{
	background : #666666;
}

tr.box_footer_hr
{
	background : #CCCCCC;
}

tr.table_row
{
	background : #CCCCCC;
}

tr.banner
{
	background : #DCDCDC;
}

th.patch_header
{
	color : #FFFFFF;
	background : #000000;
}

table.bordered
{
	padding-left : 5pt;
	padding-right : 5pt;
	border-color : #000000;
	border-width : 1pt;
	border-style : solid;
}

.left
{
	text-align : left;
}

.table_list_row
{
	padding-left : 5pt;
	padding-right : 5pt;
	text-align : left;
}

.topic
{
	color : #666666;
}

.fancy_footer
{
	font-size : small;
	color : #666666;
}

.banner
{
	background : #CCCCCC;
	padding-top : 5pt;
	padding-bottom : 5pt;
	padding-left : 10pt;
	padding-right : 10pt;
	border-color : #000000;
	border-width : 1pt;
	border-style : solid;
}

span.calendar
{
	float: left;
	margin-right: 20px;
}
